body {
    background-color: #f1f5f8;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height: auto; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word; 
}

.card img {
    object-fit: cover; 
    width: 100%;
    height: 300px; 
}

.card-body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.card-footer {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.agr {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    bottom: 25px;
    font-size: 30px;
    position: fixed;
    right: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.agr:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    padding: 1rem 1.5rem;
    height: 100%;
    overflow-y: auto;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}